# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# unit tests / coverage reports
/tests-results.xml
/.coverage
/coverage.xml
/htmlcov/

# pyenv
/.python-version

# IDE
.idea/
.vscode/

# macOS
.DS_Store
logs/

# sample data
test_codebase/
outputs/
outputs_*/
*.ipynb
src/core/instructions/custom_instructions/
src/core/instruction_manager/custom_instructions/
src/scripts/run_configs/
benchmark_configs
benchmark_config_store
pas_de_sens
wandb
src/scripts/manual_tests/
dist/